@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/otahirs/ScoutCookBook" target="_blank"><img src="/github.png" /></a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

<BlazoredToasts />
<BlazoredModal />