@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount @Test</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private int _test = 0;

    private int Test {get {
        return currentCount;
    } set => _test = value;}

    private void IncrementCount()
    {
        currentCount++;
    }
}
